:root
	--default-font: "Montserrat", Arial, sans-serif

	--base-width: 1200px

	--body-bg-color: #fff
	--body-text-color: #000

	--base-font-size: 14px

	--main-color: #CD1719

	--second-color: #F6F6F6
	--thrid-color: #202730
	
	--border-color: #E5F0F9

	--default-shadow: 0px 8px 34px rgba(162, 210, 255, 0.08)

	--inline-padding: 40px

	--input-hor-spacing: 16px
	--input-vert-spacing: 24px