.about
	text-align: center
	
	&__cont
		padding: 100px 0 50px

	&__title
		font-weight: bold
		margin: 0 0 28px
		font-size: em(40)
		letter-spacing: 0.03em

	&__text
		display: inline-block
		max-width: 1100px
		font-size: em(22)
		line-height: calc(35 / 22)