.main-reg
	text-align: center

	&__cont
		background-color: var(--second-color)
		padding: 115px 0 120px

	&__text
		font-weight: bold
		font-size: em(40)
		line-height: calc(55 / 40)

		i
			font-style: normal
			border-bottom: 2px solid var(--main-color)
			padding-bottom: 7px

	&__btn
		margin: 55px 0 0