.partners

	&__cont
		padding: 50px 0 70px

	&__title
		font-weight: bold
		text-align: center
		font-size: em(40)
		letter-spacing: 0.03em
		margin: 0 0 95px

.pt-list
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin: 0 0 -20px -20px

	&__item
		margin: 0 0 20px 20px
		width: calc((100% - 20px * 3) / 3)