footer.footer
	.wrapper
		.footer__wrap
			.footer__copy
				.copy
					div © CHEL.DK.RU, 2020
					a(href="#") Политика конфиденциальности
			.footer__dev
				a.dev(href="#")
					img(src="img/developer.svg")